.title {
    color: blue;
    text-align: center;

}
.body {
    text-align: center;
    background: khaki;
}
.button {
    border: none;
    background-color: green;
    color: white;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
form button {
    text-align: center;
    color: green;
}