<!DOCTYPE html>
<html>
    <head>
        <title>Zikr Tracker</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div class="title">
            <u>
                <h1>Zikr Tracker App</h1>
            </u>
        </div>

        
        <div class ="body">
           <em><h3>Current Date and Time</h3></em>

            <p id="time">
                <script>
                    document.getElementById("time").innerHTML = Date();
                </script>

            </p>
            <form action="/" method = 'post'>
                <input placeholder='Comment' name="comment" required>
                <br>
                <br>
                <button class="button logbutton" name='complete'>Log Zikr</button>
                <br>
                <br>
                <br>
            </form>       




            <br>
            <br>
            <br>
            <form action="/clear">
                <div>
                    <button onclick="delete_table()" class='button deletebutton'>Delete Table</button>    
                </div>
            </form>


        
        
        
            <b>
            <p>
            {% for post in posts %}
            <div>{{ post[3] }} | {{ post[2].title() }} | {{ post[1] }}</div>
            {% endfor %}
            </p>
            </b>



        </div>

    </body>

    



</html>
