<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="styles.css">
        <title>Zikr Tracker</title>
        <link rel="stylesheet" type="text/css" href="static/style.css">
    </head>
    <body>
        <div class="title">
            <u>
                <h1>Zikr Tracker App</h1>
            </u>
        </div>

        
        <div class ="body">
           <em><h3>Current Date and Time</h3></em>

            <p id="time">
                <script>
                    document.getElementById("time").innerHTML = Date();
                </script>

            </p>
            <form action="/" method = 'post'>

                <label for="date"><h3><u><strong>Choose Date</strong></u></h3></label><br>
                <input type="date" id="date" name="date" required>
                <br><br><br><br>
                <p>
                    <h2>Latest Tracked Zikr</h2>
                    {% for result in results %}
                    <u><b><div>{{ result[0] }}</div></b></u>
                    <div>{{ result[1] }}</div>
                    {% endfor %}
                </p>
                <br><br>
                <input placeholder='Comment' name="comment">
                <br><br><br><br>
                <div class = "logbutton">
                    <button class="logbutton" name='complete'>Log Zikr</button>
                </div>

                <br><br><br>

            </form>       

            <br><br><br>

            <form action="/clear">

                <div>
                    <button onclick="delete_table()" class='button deletebutton'>Delete Table</button>    
                </div>
            </form>

        
        
        
            <b>
            <p>
            {% for post in posts %}
            <div>{{ post[0] }} | {{ post[2].title() }} | {{ post[1] }}</div>
            {% endfor %}
            </p>
            </b>


        </div>

    </body>

    



</html>
