<!DOCTYPE html>
<html>
    <head>
        <title>Zikr Tracker</title>
        
    
    
    
    
    </head>
    <style>
        h1 {text-align: center;}
    </style>
    <body>
        <h1 style = 'color:green'>Zikr Tracker App</h1>


        
        
        <h3>Current Date and Time</h3>

        <p id="time">
            <script>
                document.getElementById("time").innerHTML = Date();


            </script>

            <br>
            


        </p>
        <form action="/" method = 'post'>
            <input placeholder="Name" name = 'name'>
            <input placeholder='Comment' name="comment">
            <input type="submit" value="Submit">
        
        </form>       
        {% for post in posts %}
        <div>{{ post[2] + ' ' + post[3] }}</div>
        {% endfor %}
    




    </body>

    



</html>
